:root{
  --btn-primary-hover: rgb(14, 14, 90); 
  --btn-primary-outline-hover: rgb(0, 0, 107);
  --btn-primary-outline-bg: rgba(100, 148, 237, 0.443)
}

body{
  background-color: #F4F2EE;
}

a{
  text-decoration: none;
  color: unset;
}
/* ****************** NAVBAR **************** */
.navIcon{
  margin-bottom: -10px;
}
a.active{
  color: black !important;
  border-bottom: 2px solid black;
}
#profileDropdown {
  padding: 0;
}

/* ************* USER PROFILE */
.coverImg{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.editBtnCover{
  border-radius: 50%;
  width: 41px;
  height: 41px;
  position: absolute;
  top: 1em;
  right: 1em;
}
.editBtnCover:hover{
  color: rgb(8, 20, 70) !important;
  background-color: white;
}
.infoBox{
  margin-top: 5em;
  padding: 0 1.5em;
}
.profilePicDiv{
  top: 23%;
  left: 2em;
  width: 150px;
  height: 150px;
  object-fit: contain;

  border: 2px solid white;
  border-radius: 50%;
  overflow: hidden;
}
.profilePicDiv > img {
  width: 190px;
  height: 180px;
}

#badgeBtn{
  font-size: 0.5em;
  font-weight: light;
  border: 1px dashed var(--bs-primary) !important;
  border-radius: 20px;
  padding: 0.3em 0.5em;
}

.infoBox>button{
  border: none;
  border-radius: 50%;
  position: absolute;
  top: -3em;
  right: 1em;
}
.buttonRow button{
  border-radius: 20px !important;
  font-weight: bold;
  padding: 0.3em 0.5em !important;
  margin-right: 0.5em;
  margin-bottom: 1.5em;
}
.buttonRow .btn-primary:hover{
  background-color: var(--btn-primary-hover);
  border-color: var(--btn-primary-hover);
}
.buttonRow .btn-outline-primary:hover, #badgeBtn:hover{ 
  color: var(--btn-primary-outline-hover);
  border-color: var(--btn-primary-outline-hover) ;
  background-color: var(--btn-primary-outline-bg) ;
}

/* ************ EXPERIENCES ************* */
#experiences > div:not(:first-child):last-child {
  border-bottom: none !important;
}

/* ************** ANOTHER PROFILE *********** */
.smallProfilePicDiv{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: contain;
  overflow: hidden;
}
.smallProfilePicDiv>img{
  width: 40px;
  height: 40px;
}
.expImg{
  width: 40px;
  height: 40px;
}

